spring:
  datasource:
    url: jdbc:mysql://localhost:3306/speed-jobs?serverTimezone=Asia/Seoul
    username: root
    password: "1234"
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 1000
        dialect: org.hibernate.dialect.MySQLDialect

logging.level:
  org.hibernate.SQL: debug

image:
  base-path: C:/Users/saree98/Desktop/images
  default-quality: 0.8
